.main-menu {
    padding: 20px;
    &__wrap {
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        padding: 20px;
    }
}

@media (min-width: $tablet-width) {
    .main-menu {
        &__wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}