.page-main {
    display: flex;
    flex-direction: column;
    border-top: 1px dotted #171717;
    padding-top: 10px;

    &__main-header {
        text-transform: uppercase;
        color: $another_text_color;
        text-align: center;
        margin: 0;
    }

    &__post-header {
        color: $another_text_color;
        text-transform: uppercase;
        text-align: right;
    }
    
    &__text {
        font-size: 16px;
        line-height: 26px;
        color: $another_text_color;
    }

    &__posts {
        padding: 20px;
    }

    &__quote, &__cite {
        color: $another_text_color;
    }

    &__main-pic {
        display: block;
        padding: 0;
        margin: auto;
    }

    &__main-post {
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        padding: 20px;
    }

    &__other-posts {
        position: relative;
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        padding: 20px;
        margin-top: 20px;
    }

    &__post-date {
        font-size: 12px;
        line-height: 24px;
        text-align: center;
    }

    &__pics {
        display: block;
        padding: 0;
        margin: auto;
    }

    &__post-text {
        color: $main_text_color;
    }

    &__post-header-text {
        color: $another_text_color;
    }

    &__button {
        &--main, &--another {
            background-color: #171717;
            color: white;
            padding: 5px;
        }
    }
}

@media (min-width: $tablet-width) {
    .page-main {
        width: 100%;
        margin: auto;

        &__other-posts {
            width: 300px;
        }

        &__posts-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__button {
            &--main {
                padding: 10px;
            }

            &--another {
                display: block;
                position: absolute;
                text-align: center;
                padding: 10px;
                width: 278px;
                bottom: 0;
                margin: 40px 0 20px 0;
            }
        }
        
        &__post-date {
            margin-bottom: 60px;
        }
    }
}