.secondary-block {
    &__pics {
        display: block;
        padding: 0;
        margin: auto;
    }

    &__post-header {
        color: $another_text_color;
        text-transform: uppercase;
        text-align: right;
    }

    &__post-header-text {
        color: $another_text_color;
    }

    &__post-text {
        color: $main_text_color;
    }

    &__post-date {
        font-size: 12px;
        line-height: 24px;
        text-align: center;
    }

    &__main-pic {
        display: block;
        padding: 0;
        margin: auto;
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        color: $another_text_color;
    }

    &__button {
        &--main, &--another {
            background-color: #171717;
            color: white;
            padding: 5px;
        }
    }
}

@media (min-width: $tablet-width) {
    .secondary-block {
        width: 185px;

        &__button {
            &--main {
                padding: 10px;
            }
    
            &--another {
                display: block;
                position: absolute;
                text-align: center;
                padding: 10px;
                width: 170px;
                bottom: 0;
                margin: 40px 0 20px 0;
            }
        }

        &__post-date {
            margin-bottom: 60px;
        }
    }
}