.site-list {
    text-align: center;
    display: block;

    &__item {
        border-top: 1px dotted #171717;
        padding-top: 2px;
        margin: auto;
    }

    &__item a {
        color: $another_text_color;
    }
}

@media (min-width: $tablet-width) {
    .site-list {
        text-align: right;
        margin: 10px 0 0 0;
        
        &__item {
            margin: 0 0 0 39px;
            border: none;
        }
    }
}