.user-description {
    &__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__avatar {
        border-radius: 100px;
        margin-right: 14px;
    }

    &__about {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 16px;
        line-height: 16px;
        color: $another_text_color;
        margin: 0;
        padding: 0;
    }

    &__proffesion {
        color: #999;
        margin: 0;
        padding: 0;
    }

    &__deskr {
        line-height: 25px;
        color: $main_text_color;
        border-bottom: 2px solid #e5e5e5;
        padding-bottom: 10px;
    }

    &__contacts {
        color: $main_text_color;
        margin-right: 20px;

        &--fb, &--pin, &--google, &--inst {
            display: flex;
            align-items: center;
        }
    }

    &__contacts-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}